PORT=  ##specify PORT to run default is 4000
DB_URL=  ##specify your mongodb complete URL to connect
CORS_URL=  ##Cors URL to connect from frontend provide url of your frontend application to avoid cors error

JWT_SECRET = ## Add a Secret string here to genrate jwt token
JWT_EXP= ##JWT token expiry time eg., 5000, 1h, 1d  

COOKIE_SECRET= #
COOKIE_EXPIRE_TIME= ##